// font-family: 'Montserrat', sans-serif;
// font-family: 'Playfair Display', serif;

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: $fontColour;
    background: $light;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 5rem;
}


h2,
p.logo {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

h2 {
    margin: 0;
    padding-top: 60px;
    font-size: 4rem;
    text-align: center;
}

p.logo {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: $fontColour;
}

span {
    color: $accent;
}

textarea {
    resize: none;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}