header {
    nav {
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;

        ul {
            text-transform: uppercase;
            a {
                padding: 10px 10px;
                margin: 0 2px;
                position: relative;
                &:hover,
                &:focus {
                        &::after {
                                content: "";
                                position: absolute;
                                bottom: .5rem;
                                left: 10%;
                                width: 80%;
                                height: 6px;
                                background: $accent;
                            }
                }
            }
        }

        ul.icons {
            a {
                font-size: 2rem;
                &:hover,
                &:focus {
                    color: $accent;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

.hero {
    height: 70vh;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: 
    // linear-gradient(-30deg, rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.6)),
    // linear-gradient(50deg, rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.6)),
    url("../assets/laura-vinck-Hyu76loQLdk-unsplash.jpg");
    background-position: center;

    div {
        margin-left: 40%;
    }
}
