header {
    .wrapper {
        @media (max-width: 500px) {
                width: 100%;
            }
    }
    nav {
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;

        @media (max-width: 700px) {
        flex-direction: column;
        }

        ul {
            text-transform: uppercase;
            @media (max-width: 500px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            a {
                padding: 10px 10px;
                margin: 0 2px;
                position: relative;
                &:hover,
                &:focus {
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: .5rem;
                        left: 10%;
                        width: 80%;
                        height: 6px;
                        background: $accent;
                    }
                }

            }
            li {
                transform: translateX(10px);
                @media (max-width: 500px) {
                transform: unset;
            }
            }
        }

       
    }
}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background: 
    linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, 50%, rgba(255, 255, 255, 0.8) 70%),
    url("../assets/laura-vinck-Hyu76loQLdk-unsplash.jpg");
    background-position: center;
    padding: 50px;
    height: 80vh;
    max-height: 600px;

    @media (max-width: 500px) {
        padding: 20px;
    }
    div {
        margin-left: 40%;

        @media (max-width: 1200px) {
            margin-left: 20%;
        }

        @media (max-width: 900px) {
            margin-left: 0;
        }
    }
}

a.hireMe { 
    
    font-style: italic;
    
    &:hover,
    &:focus {
        border-bottom: 1px solid $accent;
    }
}