main {
    nav {
        padding: 50px 0;
        ul {
        justify-content: center;
        }
        li {
            margin: 0 10px;
        }
    }
}

// gallery

main .wrapper {
    @media (max-width: 1000px) {
        width: 80%;

        h2 {
            padding-bottom: 40px;
        }
 
    }
}

.gallery {
    padding: 60px 0 100px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 160px;
    
    .img {
        max-width: 800px;
    }

    @media (max-width: 1200px) {
        padding-top: 0px;
        grid-row-gap: 120px;
    }

    @media (max-width: 1000px) {
        // grid-template-columns: repeat(1, 1fr);
        // grid-row-gap: 40px;

        display: flex;
        flex-direction: column;
        grid-row-gap: 20px;

        div.description {
            margin-bottom: 60px;
        }
 
    }



    a {
        color: #ffffff;
        background: $fontColour;
        padding: 4px 32px 5px 20px;
        border-radius: 20px;
        font-style: italic;
        text-transform: lowercase;
        letter-spacing: 2px;
        position: relative;
        transition: position 500ms;
        margin-right: 5px;

        &::after {
            content: "→";
            position: absolute;
            top: 3px;
            right: 10px;
        }

        &:hover,
        &:focus {
            &::after {
                right: 5px;
                transition: all 200ms;
            }
        }
    }

    p, 
    ul {
        margin-bottom: 20px;
    }

    
    ul {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    div.image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div:nth-child(4) {
        grid-column-start: 1; 
        grid-row-start: 2;

        @media (max-width: 1000px) {
        grid-column-start: auto;
        grid-row-start: auto;
        }
    }

    div:nth-child(8) {
        grid-column-start: 1; 
        grid-row-start: 4;

        @media (max-width: 1000px) {
        grid-column-start: auto;
        grid-row-start: auto;
        }
    }

    .tags li {
        padding: 3px 8px;
        color: $accent;
        font-weight: 400;
        margin-right: 10px;
        margin-bottom: 5px;
        border-radius: 4px;
        padding: 0;

        &::before {
            content: "<";
            font-weight: 300;
        }

        &::after {
            content: " />";
            font-weight: 300;
        }
    }
}

//about

.about {
    .wrapper {
        width: 70%;
        box-shadow: 0 0 20px darken($secondary, 10);
        background: $light;
        padding: 100px;
        margin-bottom: 100px;
        
        background-color: $light;
        background-image: radial-gradient($fontColour 2%, transparent 2%),
        radial-gradient(lighten($fontColour, 20) 3%, transparent 3%),  
        radial-gradient($fontColour 1%, transparent 1%);
        background-size: 60px 60px;
        background-position: 1px 1px, 95px 40px, 8px 8px;

        @media (max-width: 1100px) {
            width: 80%;
        }

        @media (max-width: 900px) {
            width: 90%;
            padding: 60px
        }
    }
}

.aboutContent {
    display: flex;
    justify-content: space-between;
    background: $light;

    @media (max-width: 700px) {
        flex-direction: column;
        }

    h2 {
        padding: 0;
        margin-bottom: 60px;
        text-align: left;

        @media (max-width: 1200px) {
            margin-bottom: 20px;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 50%;
        background: $light;
    }

    .image {
        margin-right: 10px;
        flex: 0 0 40%;

        @media (max-width: 700px) {
        margin-bottom: 30px;
        }
    }
}

//skills

.skills {
    background: $secondary;
    padding-bottom: 300px;

    @media (max-width: 800px) {
        padding-bottom: 50px;
        }
    ul {
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        padding: 60px 0;
        width: 90%;
        margin: 0 auto;

        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 0 0 calc(10%);
        padding-top: 20px;
        margin: 0 50px;

        @media (max-width: 1200px) {
            margin: 0 30px;
        }

        @media (max-width: 700px) {
        margin: 0 20px;
        }

        @media (max-width: 500px) {
            margin: 0 10px;
        }

        &:hover,
        &:focus {
            i {
                color: lighten($fontColour, 20);
                transform: scale(1.1);
                transition: ease-in 200ms;
            }

            svg {
                fill: lighten($fontColour, 20);
                transform: scale(1.1);
                transition: ease-in 200ms;
            }

            p {
                opacity: 100;
                transform: translate(0, -4px);
                transition: linear 200ms;
                font-weight: 400;
            }
        }

    }

    li.ionIcons {
        padding-top: 7px;
        i {
            font-size: 90px;
            margin-bottom: 0;
        }
    }

    i {
        font-size: 80px;
        margin-bottom: 17px;
    }

    p {
        opacity: 0;
    }

    svg {
        height: 84px;
        margin-bottom: 14px;
        fill: $fontColour;
    }

}


//contact

.contact {
    position: relative;
    height: 350px;
    display: flex;
    justify-content: center;

    @media (max-width: 800px) {
        height: auto;
        }

    h2 {
        font-size: 5.5rem;
        text-align: left;
        line-height: 1.2;
        margin-bottom: 20px;
        padding: 0;

        @media (max-width: 800px) {
        font-size: 4.2rem;
        }
    }


    .wrapper {
        position: absolute;
        bottom: 100px;        
        box-shadow: 0 0 20px darken($secondary, 10);
        background: $light;

        @media (max-width: 800px) {
        position: inherit;
        }
    }
    
    .contactContainer {
        display: flex;
        justify-content: space-between;
        padding: 100px;

        @media (max-width: 900px) {
            padding: 80px;
        }

        @media (max-width: 800px) {
        flex-direction: column;
        padding: 70px;
        }

        @media (max-width: 500px) {
            padding: 40px;
        }
    }

    .contactForm {
        flex: 0 0 45%;
        margin-left: 50px;

        @media (max-width: 800px) {
        margin-top: 40px;
        margin-left: 0;
        }
    }

    ul {
        flex-direction: column;
    }

    input,
    textarea {
        border: none;
        border-bottom: 1px solid darken($secondary, 10);
        width: 100%;
        margin-bottom: 10px;

        &:focus {
            background: $secondary;
        }
    }

    textarea {
        height: 120px;
    }

    label {
        color: $grey;
        text-transform: lowercase;
        margin-top: 20px;
    }

    button {
        background-color: $accent;
        border: none;
        padding: 15px;
        width: 100%;
        color: $light;
        letter-spacing: 1px;
        margin-top: 20px;

        &:hover,
        &:focus {
            box-shadow: inset 0 0 5px darken($accent, 40);
            color: darken($light, 8);
        }
    }
}

.email {
    a {
        font-weight: 400;
        color: $accent;
        padding: 20px 0;
    }
    margin: 5px 0;
}
