main {
    nav {
        padding: 50px 0;
        ul {
        justify-content: center;
        }
        li {
            margin: 0 10px;
        }
    }
}

// gallery

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.galleryItem3 {
    grid-column-start: 3;
    grid-row: 1 / 3;
}

.galleryItem8 {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

//skills

.skills {
    background: $secondary;
    padding-bottom: 300px;
    ul {
        justify-content: space-around;
        align-items: stretch;
        padding: 60px 0;
    }

    li {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        align-items: center;
        text-align: center;
        flex: 0 0 calc(10% - 20px);
        padding-top: 20px;

        &:hover,
        &:focus {
            i {
                color: lighten($fontColour, 10);
                transform: scale(1.1);
                transition: ease-in 400ms;
            }
            p {
                opacity: 100;
                transform: translate(0, -4px);
                transition: linear 400ms;
            }
        }

    }

    li.ionIcons {
        padding-top: 7px;
        i {
            font-size: 90px;
            margin-bottom: 0;
        }
    }

    i {
        font-size: 80px;
        margin-bottom: 17px;
    }

    p {
        opacity: 0;
    }


}




//contact

.contact {
    position: relative;
    height: 350px;
    justify-content: space-between;
    h2 {
        font-size: 5.5rem;
        text-align: left;
        line-height: 1.2;
        margin-bottom: 20px;
        padding: 0;
    }

    div:first-child {
        flex: 0 0 50%;
        margin-right: 2%;
    }


    .wrapper {
        position: absolute;
        bottom: 100px;        
        box-shadow: 0 0 20px darken($secondary, 10);
        background: $light;
        margin: 0 10%;
    }
    
    .contactContainer {
        display: flex;
        justify-content: space-between;
        padding: 100px;
    }

    .contactForm {
        flex: 0 0 45%;
    }

    ul {
        flex-direction: column;
    }

    input,
    textarea {
        border: none;
        border-bottom: 1px solid darken($secondary, 10);
        width: 100%;
        margin-bottom: 10px;

        &:focus {
            background: $secondary;
        }
    }

    textarea {
        height: 120px;
    }

    label {
        color: $grey;
        text-transform: lowercase;
        margin-top: 20px;
    }

    button {
        background-color: $accent;
        border: none;
        padding: 15px;
        width: 100%;
        color: $light;
        letter-spacing: 1px;
        margin-top: 20px;

        &:hover,
        &:focus {
            box-shadow: inset 0 0 5px darken($accent, 40);
            color: darken($light, 8);
        }
    }
}


